{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Новая история {% endblock %}

{% block style %}
    <link rel="stylesheet" href="/css/admin/admin.css">
{% endblock %}


{% block content %}

    <div class="article">

        <div id="new-post-form">

            <h3>Новая статья</h3>

            {% if errors %}
                {% for error in errors %}
                    <div class="errorMsg">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {% if result %}
                <div class="info_message">
                    Запись успешно добалена!
                </div>
            {% endif %}

            <form action="/admin/articles/add" method="post">

                <label for="post.name">Название</label>
                <input type="text" name="title" id="post.name" value=""/>

                <label for="post.url">URL</label>
                <input type="text" name="url" value=""/>

                <label for="author">Автор</label>
                <input type="text" name="author" value=""/>

                <label for="category">Категория</label>
                <input type="text" name="category" value="Разное"/>

                <label for="text">Текст</label>
                <textarea name="text" id="text" cols="30" rows="10"></textarea>

                <input type="submit" value="Публикуем!" name="publish"/>
            </form>

        </div>

    </div>

{% endblock %}

