{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Все статьи {% endblock %}

{% block style %}
    <link rel="stylesheet" href="/css/admin/admin.css">
{% endblock %}


{% block content %}

    <div class="article">

        <ul>
            {% for article in articles %}
                <li>{{ article.id }}. <a href="{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

