<div class="entry">
    <div class="title">Админка</div>
    <a href="/admin">Дом</a>
    <a href="/debug">Дебаг</a>
    <a href="/admin/articles/add">Добавить</a>
    <a href="/admin/articles/show">Список</a>
    <a href="/admin/articles/edit">Редактировать</a>
</div>
