<div class="header-title">
   <span class="header-decor">
       &lt;</span>Castels.Ru<span class="header-decor">/&gt;
    </span>
</div>
<div class="header-menu">
    <a href="/">Главная</a>
    <a href="/articles">Статьи</a>
    <a href="/contact">Контакты</a>
    <a href="/about">О Сайте</a>
    <a href="/rss">Новости</a>
    <a href="/search">Поиск</a>
</div>
