<div class="entry">
    <div class="title">Категории</div>
    <a href="#">*Web</a>
    <a href="#">*Life</a>
    <a href="#">*Java</a>
    <a href="#">*HTML</a>
</div>

<div class="entry">
    <div class="title">Сниппеты</div>
    <a href="#">*PHP</a>
    <a href="#">*Web</a>
    <a href="#">*Life</a>
    <a href="#">*Java</a>
    <a href="#">*HTML</a>
</div>