<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Castels.Ru{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
    {% block style %}{% endblock %}
</head>
<body>

<div class="container">

    <div class="header">
        {% include "shared/header.html.twig" %}
    </div>

    <div class="right-menu">
        {# {% block right_menu %}{% endblock %} #}
        {% include "admin/menu.html.twig" %}
        {% include "shared/right_menu.html.twig" %}
    </div>

    <div class="content">{% block content %}{% endblock %}</div>

    <span class="clear">&nbsp;</span>

    <div class="footer">
        &copy; Castels.Ru 2019
    </div>


</div>

</body>
</html>