{% extends "base.html.twig" %}

{% block content %}


    <div class="article">

        <h2>About Castels.Ru</h2>

        <h3>Part 1. Intro</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quae id ipsa quibusdam vero fugit doloremque.
            Corrupti odio debitis dolores eveniet!
            Reprehenderit incidunt voluptatem ad ut provident rerum culpa aliquid dolores.</p>

        <h3>Part 2. Escape</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quae id ipsa quibusdam vero fugit doloremque.
            Corrupti odio debitis dolores eveniet!
            Reprehenderit incidunt voluptatem ad ut provident rerum culpa aliquid dolores.</p>

        <h3>Part 3. New Life</h3>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Quae id ipsa quibusdam vero fugit doloremque.
            Corrupti odio debitis dolores eveniet!
            Reprehenderit incidunt voluptatem ad ut provident rerum culpa aliquid dolores.</p>

    </div>


{% endblock %}