{% extends "rebuilding/base.html.twig" %}

{% block title %}{{ parent() }} На реконструкции{% endblock %}

{% block content %}

    <h3>Сайт на реконструкции</h3>

    <p>
        Доброго пожаловать на мой сайт!</p>
    <p>
        К сожалению он пока на реконструкции, но в
        ближайшее время он будет открыт!
    </p>
    <p>
        Всего Вам доброго! Здоровья, счастья, всех благ!
    </p>

{% endblock %}