{% extends "empty_base.html.twig" %}

{% block title %}
    Вход на {{ parent() }}
{% endblock %}


{% block style %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content %}
<div class="centrify" id="wrap">

    <form action="/login/process" method="post" class="roundify">

        <div id="to-main-page"><a href="/">&LeftArrow;</a></div>

        <h3>Вход на сайт</h3>
        <label for="login">Логин</label>
        <input type="text" class = "text" name="login" id="login">
        <label for="password">Пароль</label>
        <input type="text" class = "text" name="password" id="password">
        <input type="submit" value="Вход" name="enter">

    </form>

    {% if errors %}
    <div class="form-error">
        {% for error in errors %}
        <div>{{ error  }}</div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}